@import "reset.css";
@import "headernav.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700;800&display=swap');

body {
    font-family: 'Wix Madefor Display', sans-serif;
}

.flex{
    display: flex;
}

.grid-container {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(100px,auto);
	grid-template-areas:
    "hd hd"
    "nav nav"
    "main main"
	"ft ft";
}

.main-content {
    grid-area: main;
}

.main-title {
    margin-bottom: 24px;
    font-size: 1.5em;
    font-weight: 800;
    color: #154484;
}

.blog-img {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #cccbcbb7;
}

.post-img {
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 6px;
}

.image-caption {
    padding: 5px;
    font-size: 12px;
}

.bylines {
    align-items: center;
    margin-bottom: 24px;
}

.bylines-avatar {
    display: none
}

.bylines-info {
    font-size: 0.75em;
    padding-left: 10px;
    color: #525252b7;
}

.blog-subtitle{
    padding: 5px 0;
    font-size: 1.1em;
}

.blog-txt {
    margin: 10px 0;
    font-size: 1em;
}

.quote-section {
    width: 50%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #154484;
    font-style: italic;
    color: #154484;
}

.quote-txt {
    margin: 0;
}

.quote-txt p {
    margin: 0.5rem;
    border-radius: 5px;
}

.quote-txt p::before {
    content: "\201C";
}

.quote-txt p::after {
    content: "\201D";
}

@media (min-width: 900px){

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px,auto);
        grid-template-areas:
        "hd hd nav nav"
        "main main main main"
        "ft ft ft ft";
    }

    .bylines-avatar {
        display: block;
        border-radius: 50%;
        height: 60px;
    }
}