/* header */

.header {
    grid-area: hd;
    justify-content: center;
    align-items: center;
}

.logo-link{
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.img-logo {
    width: 30%;
    height: 80%;
}
.txt-logo {
    font-size: 1.5em;
	font-weight: 700;
	color: #154484;
}

.more-txt {
	color: #ffbd1f;
}

/* navbar */

.navbar {
	grid-area: nav;
	padding: 10px;
	text-decoration: none;
	z-index: 1;
}

.navbar-list {
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	font-size: 1em;
	margin: 0;
	padding: 0;
	transition: all 0.3s;
}

.navbar-item {
	margin: 5px;
}

.navbar-link {
	color: #222;
	font-weight: 700;
	padding: 8px 10px;
	border-radius: 5px;
}

.navbar-link:link {
	text-decoration: none;
}

.navbar-link:hover {
	color: #fff !important;
	background-color: #154484;
	border: 1px solid #154484;
}

.navbar-link:visited {
	color: #000;
}

@media (min-width: 900px) {

	.header{
		justify-content: flex-start;
		align-items: center;
		margin-top: 10px;
		height: 50%;
	}

	.img-logo {
		width: 100px;
	}

	.navbar {
		display: flex;
		height: 80%;
	}

	.navbar-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		list-style-type: none;
		font-size: 1em;
		margin: 0px;
		transition: all 0.3s;
	}
}