@import "reset.css";
@import "headernav.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');

body {
    font-family: 'Wix Madefor Display', sans-serif;
}

.flex{
    display: flex;
}

.grid-container {
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(100px,auto);
	grid-template-areas:
    "hd hd"
    "nav nav"
    "main main"
	"ft ft";
}

.main-content {
    grid-area: main;
}

.main-post {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background: #fff;
    padding: 20px;
    font-size: 1em;
}

.post-img {
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 50%;
    width: 100%;
    border-radius: 6px;
}

.post-img:hover {
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.post-title {
    padding: 5px 0;
    font-size: 1.2em;
    color: #154484;
}

.post-txt {
    display: block;
    padding-top: 10px;
}

.post-link {
	color: #000;
	font-weight: 700;
}

.post-link:link {
	text-decoration: none;
}

.post-link:hover {
	color: #154484 !important;
}

.post-link:active {
	color: #ffbd1f !important;
}

.post-link:visited {
    text-decoration: none !important;
	color: #000;
}

.post-summary {
    display: block;
    padding-bottom: 20px;
}

.post-btn {
    background-color: #154484;
    border: 1px solid #154484;
	border-radius: 6px;
    color: #fff;
	font-weight: 700;
	padding: 8px 20px;
    text-decoration: none;
}

.post-btn:hover {
	background-color: #ffbd1f;
	border: 1px solid #ffbd1f;
}

.related-post {
    margin-top: 25px;
}

.related-title {
    font-size: 1.2em;
}

.related-list {
    padding: 0;
    border-top: 1px solid #e0e0e0;
}

.related-item {
    list-style: none;
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

}

.related-link {
	color: #000;
    justify-content: center;
    align-items: center;
}

.related-link:link {
	text-decoration: none;
}

.related-link:hover {
	color: #154484 !important;
}

.related-link:active {
	color: #ffbd1f !important;
}

.related-link:visited {
    text-decoration: none !important;
	color: #000;
}

.related-img {
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 30%;
    border-radius: 6px;
}

.related-img:hover {
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.related-txt {
    display: block;
    padding-left: 10px;
}

@media (min-width: 900px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(100px,auto);
        grid-template-areas:
        "hd hd nav nav"
        "main main main main"
        "ft ft ft ft";
    }
}